*{
    margin: 0;
    font-family: Arial;
    border: border-box;
    box-sizing: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



.nav-log{
    height: 50px;
    width: 100px;
}
.logo {
    background-image: url("./images/amazonlogo2.webp");
    background-size: cover;
    height: 60px;
    width: 100px;
    border: 1.5px solid transparent;
}

.logo:hover {
    border: 1.5px solid white;
}

.add-first {
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 15px;
    

}
.add-second {
    font-size: 1rem;
    margin-left: 3.5px;

}
.add-icon{
    display: flex;
    align-items: center;
    
}
.nav-adress:hover {
    border: 2px solid white;
}

.nav-search{
    display: flex;
    justify-content: space-evenly;
}
.select-search {
    background-color: f3f3f3;
    position: relative;
    width: 50px;
    text-align: center;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border:none;
}

.nav-search:hover{
    border-bottom: 2px solid orange;

}

.search-input {
    display: flex;
    width: 600px;
    height: 35px;
    border:none;
}
.search-input:hover {
    border: 2px solid white;
    font-size: 1rem;
    border:none;
}

.search-icon {
    border-bottom-right-radius: 4px;
    border-top-right-radius:4px;
    border:none;

}

/* signin part-4 */
span{
    font-size: 0.75rem;
}
.nav-second {
    font-size: 0.85;
    font-weight: 700;
}

.nav-return:hover {
    border: 1.5px solid white;
}
.nav-signin:hover {
    border: 1.5px solid white;
}

.cart:hover {
    border: 1.5px solid white;
}
.cart p {
    font-size: 0.75rem;
    font-weight: 700;
}
.cart i{
    font-size: 1.5rem;
    margin-top: 30px;
}
.cart-text{
    margin-left: 25px;
    margin-bottom: 25px;
}
.nav-second:hover {
    border: 1.5px solid white;
}

/* pannel */
.pannel {
    height: 40px;
    background-color:#222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;

}
.pannel p {
    display: inline;
    margin: 10px;

}
.pannel-ops{
    width: 70%;
    font-size: 0.8rem;
}
.pannel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

/* hero-section */
.hero-section{
    background-image: url("./images/front.jpg");
    background-size: cover;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-message{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    width: 80%;
    margin-bottom: 25px;
}

.hero-message a{
    color: #007185;
}


/* shop section */


.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 420px;
    margin-bottom: 20px;
    background-color: rgb(227, 154, 166);
}
.box {
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img{
    background-image: url("./images/speaker.jpg");
    height: 300px;
    background-size: cover;
}
.box-img2{
    background-image: url("./images/clock.jpg");
    height: 300px;
    background-size: cover;
}
.box-img3{
    background-image: url("./images/teddy.jpg");
    height: 300px;
    background-size: cover;
}
.box-img4{
    background-image: url("./images/furniture.jpg");
    height: 300px;
    background-size: cover;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content h2{
    padding-bottom: 1rem;
}
.box-content p{
    font-size: 0.8rem;
    margin-top: 100px;
    margin-bottom: 5px;
    color: #007185;
}


/* footer section */

.foot-panel1{
    margin-top: 500px;
    background-color: #374751;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    justify-content: space-evenly;
    display: flex;
}
ul {
    margin-top: 20px;
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.foot-panel3{
    background-color: #202c37;
    color: white;
    border-top: 0.1px  rgb(224, 201, 201);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url("./images/amazonlogo2.webp");
    background-size: cover;
    height: 60px;
    width: 12   0px;
}

.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.8rem;
    text-align: center;
}
.pages {
    padding: 10px;
}
.copy-right {
    padding: 3px;
}